<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #042f4b;
    text-align: center;
    margin: 0;
}

.container{
    width: 90%;
    margin: auto;
}

.dice{
    margin: 10px;
    display: inline-block;
    position: cover;
    text-align: center;
}

h1 {
    font-family: "Lobster", cursive;
    font-weight: 400;
    font-style: normal;
    /* color: white; */
    text-shadow: 5px 0 #232931; 
    font-size: 3rem; 
    color: #4ecca3; 
  }
  
  p{
    font-family: "Indie Flower", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    color: #4ecca3;
  }

  img{
    width: 20%;
}

.container_bottom { 
    padding-top: 30px; 
} 

.btn { 
    background: #4ecca3; 
    font-family: "Indie Flower", cursive; 
    border-radius: 7px; 
    color: #ffff; 
    font-size: 15px; 
    padding: 16px 25px 16px 25px; 
    text-decoration: none; 
    margin-top: 8px;
} 

.btn:hover { 
    background: #232931; 
    text-decoration: none; 
} 